<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FSD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.pack.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.pack.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.pack.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SixthServlet</servlet-name>
    <servlet-class>com.pack.SixthServlet</servlet-class>
    <init-param>
      <param-name>age</param-name>
      <param-value>22</param-value>
    </init-param>
    <init-param>
      <param-name>salary</param-name>
      <param-value>22000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SixthServlet</servlet-name>
    <url-pattern>/SixthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EigthServlet</servlet-name>
    <servlet-class>com.pack.EigthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EigthServlet</servlet-name>
    <url-pattern>/EigthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NinethServlet</servlet-name>
    <servlet-class>com.pack.NinethServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NinethServlet</servlet-name>
    <url-pattern>/NinethServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TenthServlet</servlet-name>
    <servlet-class>com.pack.TenthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenthServlet</servlet-name>
    <url-pattern>/TenthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TwelvethServlet</servlet-name>
    <servlet-class>com.pack.TwelvethServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwelvethServlet</servlet-name>
    <url-pattern>/TwelvethServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FourteenthServlet</servlet-name>
    <servlet-class>com.pack.FourteenthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FourteenthServlet</servlet-name>
    <url-pattern>/FourteenthServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>mark1</param-name>
    <param-value>67</param-value>
  </context-param>
  <context-param>
    <param-name>mark2</param-name>
    <param-value>88</param-value>
  </context-param>
  <filter>
    <filter-name>ExampleFilter</filter-name>
    <filter-class>com.pack.ExampleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExampleFilter</filter-name>
    <url-pattern>/FourteenthServlet</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>state</param-name>
    <param-value>TamilNadu</param-value>
  </context-param>
  <listener>
    <listener-class>com.pack.ExampleListener1</listener-class>
  </listener>
  <listener>
    <listener-class>com.pack.ExampleListener3</listener-class>
  </listener>
  <servlet>
    <servlet-name>FifteenthServlet</servlet-name>
    <servlet-class>com.pack.FifteenthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FifteenthServlet</servlet-name>
    <url-pattern>/FifteenthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SixteenthServlet</servlet-name>
    <servlet-class>com.pack.SixteenthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SixteenthServlet</servlet-name>
    <url-pattern>/SixteenthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EighteenServlet</servlet-name>
    <servlet-class>com.pack.EighteenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EighteenServlet</servlet-name>
    <url-pattern>/EighteenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>config.jsp</servlet-name>
  <jsp-file>/config.jsp</jsp-file>
  <init-param>
  <param-name>furniture</param-name>
  <param-value>table</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>config.jsp</servlet-name>
  <url-pattern>/config.jsp</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>food</param-name>
  <param-value>meals</param-value>
  </context-param>
  <context-param>
  <param-name>productname</param-name>
  <param-value>powder</param-value>
  </context-param>
</web-app>